@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: "Montserrat";
}

body {
    min-width: 1200px;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    gap: 265px;
    background-image: url("images/background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1012px;
    margin-bottom: 12px;
}

.navbar {
    display: flex;
    justify-content: center;
    background: rgba(94, 93, 88, 0.6);
    width: 100%;
    height: 120px;
}

.nav-container {
    display: flex;
    width: 1160px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    position: relative;
    align-items: center;
    transition: 0.3s;
}

.logo:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.hexagon {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: #18CFAB;
    height: 67px;
    width: 58px;
}

.logo-letter {
    position: absolute;
    width: 58px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}

.logo-name {
    padding-left: 6px;
    font-weight: 400;
    font-size: 32px;
}

.logo-name > span {
    color: #18CFAB;
    font-weight: bold;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 650px;
}

.nav-button {
    position: relative;
    display: flex;
    align-items: center;
    height: 120px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    opacity: 0.6;
    transition: 0.3s;
}

.nav-button::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #18CFAB;
    opacity: 0;
    transition: 0.3s;
}

.nav-button:hover {
    color: #18CFAB;
    opacity: 1;
    transition: 0.3s;
}

.nav-button:hover::before {
    opacity: 1;
    transition: 0.3s;
}

.nav-buttons > img:hover {
    filter: brightness(0) saturate(100%) invert(74%) sepia(67%) saturate(3663%) hue-rotate(121deg) brightness(101%) contrast(81%);
    cursor: pointer;
}

.hero-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 22px;
}

.hero-text-wrapper > p > span {
    color: #18CFAB;
}

.hero-text-wrapper > p:first-child {
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
}

.hero-text-wrapper > p:nth-child(2) {
    font-weight: 700;
    font-size: 78px;
    text-transform: uppercase;
}

.hero-text-wrapper > p:last-child {
    font-weight: 400;
    font-size: 34px;
    color: #D4D4D4;
}

.header-button-wrapper {
    display: flex;
    justify-content: space-between;
    width: 370px;
    margin-top: 130px;
    font-weight: 700;
    font-size: 15px;

}

.button {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
    width: 170px;
    height: 63px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    box-shadow: 0 -5px #FFFFFF;
    transition: 0.3s;
}

.button:hover {
    box-shadow: none;
    transform: translateY(-5px);
    transition: 0.3s;
}

.button-1 {
    background: #18CFAB;
    margin-right: 26px;
}

.button-2 {
    font-weight: 700;
    background: #00CBF6;
}

.banner-section {
    display: flex;
    justify-content: stretch;
    width: 100%;
    height: 370px;
    margin-bottom: 90px;
}

.banner-section > .banner:nth-child(even) {
    background-color: #18CFAB;
    gap: 67px;
}

.banner-section > .banner:nth-child(odd) {
    background-color: #1C2A33;
    gap: 48px;
}

.banner:nth-child(odd) > p {
    color: #18CFAB;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.banner > p {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-services-section {
    width: 1160px;
    margin-bottom: 90px;
}

.title-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.title {
    font-weight: 400;
    font-size: 36px;
    color: #4E4E4E;
}

.separator::before {
    position: absolute;
    content: "";
    background-color: #18CFAB;
    top: 150%;
    left: 46%;
    width: 76px;
    height: 1px;
}

.separator::after {
    position: absolute;
    content: "";
    background-color: #18CFAB;
    top: 160%;
    left: 47%;
    width: 76px;
    height: 1px;
}

.section-nav-wrapper {
    display: flex;
    justify-content: stretch;
    height: 70px;
    width: 100%;
    margin-top: 100px;
    border: 1px solid #F2F2F2;
    background-color: #F8FCFE;
    margin-bottom: 25px;
}

.section-nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #717171;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
}

.section-nav-button:not(.section-nav-button:last-child) {
    border-right: 1px solid #F2F2F2;
}

.section-nav-button::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    position: absolute;
    border-top: 10px solid #18CFAB;
    top: 100%;
    opacity: 0;
}

.section-nav-button:hover {
    outline: 1.5px solid #18CFAB;
}

.active {
    background-color: #18CFAB;
    color: #FFFFFF;
}

.active::before {
    opacity: 1;
}

.active:hover {
    outline: none;
}

.section-wrapper {
    display: flex;
    gap: 15px;
}

.section-img-wrapper {
    width: 190px;
}

.section-text-wrapper {
    display: flex;
    gap: 15px;
    height: 139px;
    width: 100%;
}

.tab-img:first-child {
    display: block;
}

.tab-text:first-child {
    display: block;
}

.tab-img {
    height: 100%;
    width: 190px;
    display: none;
    margin: 0;
}

.tab-text {
    color: #777777;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

.everything-is-ready-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 127px;
    width: 100%;
    height: 475px;
    background-image: url("/images/Sections background/section-2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.everything-is-ready-section > h1 {
    color: #18CFAB;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.everything-is-ready-section > p {
    font-weight: 400;
    font-size: 16px;
    color: #D8D8D8;
    margin-bottom: 67px;
}

.everything-is-ready-section > a {
    background-color: #18CFAB;
}

.our-work-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #E9EDEF;
    padding-top: 95px;
    padding-bottom: 100px;
}

.our-work-section > .title-wrapper > .separator:before {
    left: 35%;
}

.our-work-section > .title-wrapper > .separator:after {
    left: 39%;
}


.work-nav-buttons-container {
    display: flex;
    justify-content: stretch;
    width: 580px;
    height: 58px;
    border: 1px solid #DADADA;
    margin-top: 98px;
    margin-bottom: 70px;
}

.work-section-nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #717171;
    cursor: pointer;
    transition: 0.3s;
}

.work-section-nav-button:first-child {
    width: 80px;
}

.work-section-nav-button:last-child {
    width: 100px;
}

.work-section-nav-button:nth-child(2) {
    width: 145px;
}

.work-section-nav-button:nth-child(3) {
    width: 115px;
}

.work-section-nav-button:nth-child(4) {
    width: 137px;
}

.work-section-nav-button:not(.work-section-nav-button:last-child) {
    border-right: 1px solid #DADADA;
}

.active-filter {
    outline: 1px solid #18CFAB;
    color: #18CFAB;
    transition: 0.3s;
}

.gallery {
    width: 1140px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.image-container {
    display: grid;
    position: relative;
    padding-bottom: 130px;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
}

.image-container > img {
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 207px;
}

.image-wrapper:hover > .gallery-hover-action {
    opacity: 1;
    transition: 0.2s;
    transform: translateY(0%);
    pointer-events: auto;
}

.gallery-hover-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    position: absolute;
    background-color: #E9EDEF;
    border-top: 3px solid #18CFAB;
    height: 207px;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 46px;
    transform: translateY(100%);
    transition: 0.2s;
    pointer-events: none;
}


.gallery-button-wrapper {
    display: flex;
    justify-content: space-between;
    width: 90px;
    height: 45px;
    margin-bottom: 30px;
}

.gallery-button-wrapper > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    border-radius: 100%;
    border: 1px solid #18CFAB;
    cursor: pointer;
    transition: 0.3s;
}

.gallery-button-wrapper > div:hover {
    background-color: #18CFAB;
    transition: 0.3s;
}

.copy-link:hover > img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.download-image > div {
    width: 12px;
    height: 12px;
    background-color: #18CFAB;
}

.download-image:hover > div {
    background-color: #FFFFFF;
    transition: 0.3s;
}

.gallery-hover-action > h3 {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #18CFAB;
    margin-bottom: 10px;
}

.gallery-hover-action > p {
    font-weight: 300;
    font-size: 12px;
    color: #8A8A8A;
}

.load-more-button {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #18CFAB;
    bottom: 0;
    left: 0;
    right: 0;
    width: 168px;
    height: 63px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 auto;
    border: none;
    transition: 0.3s;
}

.load-more-button::before {
    content: "+";
    font-size: 40px;
    left: 23px;
    top: 22px;
    padding: 0 15px 0 23px;
}

.load-more-button:hover {
    transition: 0.3s;
    opacity: 0.7;
}

.breaking-news {
    width: 1160px;
    height: 100%;
    padding-top: 85px;
    padding-bottom: 130px;
}

.news-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    margin-top: 100px;
}

.new-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    height: 280px;
}

.data-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 70px;
    height: 70px;
    background-color: #203E38;
    color: #FFFFFF;
    top: 0;
    right: 0;
    transition: 0.3s;
}

.new-wrapper > h3 {
    padding-left: 10px;
    color: #717171;
    font-weight: 700;
    font-size: 18px;
    transition: 0.3s;
}

.new-wrapper > p {
    padding-left: 10px;
    font-weight: 300;
    font-size: 14px;
    color: #777777;
}

.new-wrapper:hover > .data-wrapper {
    background-color: #18CFAB;
    transition: 0.3s;
}

.new-wrapper:hover > h3 {
    color: #18CFAB;
}

.people-say-ham {
    background-image: url("images/Sections background/section-3.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 850px;
    width: 100%;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.people-say-ham > .title-wrapper > .title {
    color: #FFFFFF;
}

.people-say-ham > .title-wrapper > .separator::before {
    left: 42%;
}

.people-say-ham > .title-wrapper > .separator::after {
    left: 44.5%;
}

.slider-separator {
    margin-top: 100px;
    margin-bottom: 35px;
}

.slider-wrapper {
    width: 1160px;
    display: block;
    margin: 0 auto;
}

.slick-slide {
    position: relative;
}

.slick-arrow {
    width: 35px;
    height: 35px;
    border: 1px solid #BBBBBB;
    font-size: 0;
    cursor: pointer;
    background-image: url("images/slider-arrow.svg");
    background-position: 13px 9px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 10px;
    position: absolute;
    bottom: 10px;
    transition: 0.3s;
}

.slick-next {
    right: 300px;
}

.slick-prev {
    rotate: 200grad;
    left: 340px;
    z-index: 1;
}

.slick-arrow:hover {
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
    transition: 0.3s;
}

.slick-dots {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    list-style-type: none;
    width: 400px;
    height: 60px;
    margin-left: 400px;
}

.slick-track {
    margin-bottom: 60px;
}

.slick-dots > li > button {
    width: 60px;
    height: 60px;
    font-size: 0;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: 5px solid rgba(31, 218, 181, 0.2);

}

.slick-dots > .slick-active {
    transform: translateY(-15px);
    border-radius: 50%;
    outline: 5px solid rgba(31, 218, 181, 0.7);
    transition: 0.3s;
}

.slick-dots > li:first-child > button {
    background-image: url("images/slider-img-1.png");
}

.slick-dots > li:nth-child(2) > button {
    background-image: url("images/slider-img-2.png");

}

.slick-dots > li:nth-child(3) > button {
    background-image: url("images/slider-img-3.png");

}

.slick-dots > li:last-child > button {
    background-image: url("images/slider-img-4.png");
}

.slick-slide > p {
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px;
    color: #BBBBBB;
}

.slick-slide > h3 {
    color: #18CFAB;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
}


.slick-slide > img {
    width: 140px;
    margin-left: 510px;
    border-radius: 50%;
    outline: 10px solid rgba(31, 218, 181, 0.2);
    transition: 0.3s;
    cursor: pointer;
}

.slick-slide > img:hover {
    outline: 10px solid rgba(31, 218, 181, 0.7);
    transition: 0.3s;

}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 48px 0;
    background-color: #22353F;
}

footer > p {
    font-weight: 300;
    font-size: 14px;
    color: #AEAEAE;
}

footer > p > a {
    color: #18CFAB;
}

footer > p > a:hover {
    text-decoration: underline;
}

